 *{
  font-family: 'Montserrat', sans-serif;
 }
 .container-fluid{
    background: linear-gradient(69.66deg, #00C1FE 19.39%, #FAFFC1 96.69%);
    height: 100vh;

  }
  form{
    transform: translateY(10%);
    border-radius: 20px;
  }
  .navbar-brand {
    font-size: 20px;
    font-weight: 700;
  }
  h6{
    font-size: 15px;
    font-weight: 600;
  }
  p{
    font-size: 15px;
    font-weight: 400;
  }
  label{
    font-size: 12px;
    font-weight: 500;
  }
  .form-control{
    font-size: 10px;
  }